.error {
  max-width: fit-content;
  margin: 30px auto 30px;
  height: 100%;
  &__code {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__message {
    font-size: 43px;
    font-weight: 700;
    text-align: center;
  }
}
