.footer {
  border-top: 1px solid #e8e7e7;

  &__up {
    padding: 40px 0 60px;
  }

  &__up-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, auto);
  }

  &__fitness {
    margin-right: 40px;
  }

  &__logo {
    max-width: 175px;

    img {
      object-fit: contain;
    }
  }

  &__address {
    font-weight: 600;
  }

  &__address-dotted {
    border-bottom: 1px dotted;
  }

  &__telephone {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
  }

  &__address,
  &__telephone,
  &__email {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &:hover {
      color: var(--color-grey-blue);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    color: var(--color-green);
    background-color: rgba(46, 184, 0, 0.15);
    border-radius: 50%;

    &_navigation {
      display: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background: rgba(89, 98, 107, 0.12);
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      color: var(--color-white);
      background: var(--color-grey-blue);
    }
  }

  &__services {
    grid-column: 2/4;
  }

  &__services-content {
    column-count: 2;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 67px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
  }

  &__title-icon {
    display: none;
  }

  &__item {
    display: block;
    color: var(--color-grey-blue);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    transition: 0.2s;

    a {
      padding: 5px 0 5px;
    }

    a:hover {
      color: var(--color-black);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__down {
    padding: 28px 0;
    color: #94979a;
    font-size: 14px;
    line-height: 1.35;
    background: var(--color-grey-blue-light);
  }

  &__down-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__down-policy {
    margin-left: 20px;
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    &__up-container {
      grid-template-columns: repeat(2, 1fr);
    }

    &__fitness {
      margin-right: 0;
    }

    &__socials {
      max-width: 300px;
    }

    &__services {
      grid-column: 2/3;
    }

    &__services-content {
      column-count: 1;
    }

    &__title {
      height: 50px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  @media (max-width: 599px) {
    &__up {
      padding: 23px 0 0;
    }

    &__up-container {
      grid-gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }

    &__fitness {
      display: grid;
      grid-template-areas:
        'logo tel tel'
        'logo social social'
        'address address address';
      margin-bottom: 27px;
    }

    &__logo {
      grid-area: logo;
      margin-right: 20px;

      img {
        max-width: 75px;
      }
    }

    &__icon {
      display: none;

      &_navigation {
        display: flex;
        width: auto;
        height: auto;
        color: inherit;
        background: transparent;
      }
    }

    &__address {
      grid-area: address;
      margin-top: 20px;
      margin-bottom: 0;
    }

    &__telephone {
      grid-area: tel;
      justify-content: flex-end;
      margin-bottom: 6px;
      font-size: 20px;
    }

    &__socials {
      grid-area: social;
      margin-top: 0;
      margin-left: auto;
    }

    &__social {
      width: 34px;
      height: 34px;

      &:not(:last-child) {
        margin-right: 5px;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__email {
      display: none;
    }

    &__services {
      grid-column: 1/1;
    }

    &__submenu {
      display: none;
    }

    &__title-icon {
      display: block;
      transform: rotate(-90deg);
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 16px 0;
      color: var(--color-grey-blue);
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-transform: none;
      border-top: 1px solid #efeeee;

      &.active {
        .footer__title-icon {
          transform: rotate(90deg);
        }
      }

      &.active + .footer__submenu {
        display: flex;
        padding-left: 15px;
      }
    }

    &__item {
      margin-bottom: 15px;
      color: #85888b;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 24px;
      }
    }

    &__down {
      padding: 22px 0;
    }

    &__down-container {
      flex-direction: column-reverse;
    }

    &__down-policy {
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}
