.header {
  background: var(--color-white);
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);

  &__top {
    border-bottom: 1px solid #eaeaea;
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &__logo {
    max-width: 175px;
    margin-right: 33px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__region {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-weight: 600;
  }

  &__region-city {
    margin-left: 6px;
    padding: 0;
    overflow: hidden;
    color: #313131;
    font-family: inherit;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    background-color: inherit;
    border: none;
    border-bottom: 1px dotted;
    border-radius: 0;
  }

  .is-close {
    top: 0;
  }

  &__socials {
    display: flex;
    margin-right: 30px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background: rgba(89, 98, 107, 0.12);
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      color: var(--color-white);
      background: var(--color-grey-blue);
    }
  }

  &__tel {
    margin-right: 40px;
    font-weight: 600;
    font-size: 20px;
  }

  &__button {
    padding: 13px 35px;
    border-radius: 24px;
  }

  @media (max-width: 1024px) {
    &__container {
      justify-content: space-between;
    }

    &__logo {
      margin-right: 0;
    }

    &__socials {
      display: none;
    }

    &__tel {
      display: none;
    }

    &__region {
      flex-grow: 0;
      order: 1;
    }

    &__button {
      margin: 0 10px;
      padding: 13px 25px;
    }
  }

  @media (max-width: 599px) {
    &__logo {
      max-width: 75px;
    }

    &__cities {
      width: 100vw;
    }
  }

  @media (max-width: 425px) {
    &__region-city {
      width: 60px;
    }
  }
}

.fancybox__container {
  --fancybox-color: #90979f;
}
