.all-promotions {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    display: flex;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: absolute;
    left: 60px;
  }

  &__text {
    margin-top: 16px;
  }

  &__btn {
    margin-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__to-main {
    display: none;
    margin-top: 20px;
  }

  &__to-main-btn {
    width: 100%;
  }

  @media (max-width: 768px) {
    &__title,
    &__text {
      display: none;
    }

    &__content {
      right: 36px;
      bottom: 80px;
      left: 36px;
    }

    &__btn {
      width: 100%;
      margin: 0;
    }

    &__to-main {
      display: block;
    }
  }

  @media (max-width: 375px) {
    &__btn {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}
