.banner-info {
  &__hidden {
    &_desktop {
      display: none;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    min-height: 370px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    position: absolute;
    left: 60px;
    max-width: 536px;
  }

  &__text {
    margin-top: 16px;
  }

  &_right &__content {
    left: 520px;
  }

  .ul-clear {
    margin-top: 16px;
  }

  &__btn {
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: 1024px) {
    &__hidden {
      &_desktop {
        display: block;
      }

      &_mobile {
        display: none;
      }
    }
    &__container {
      flex-direction: column;
    }

    &__image {
      display: flex;
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__content {
      position: relative;
      left: auto;
      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 18px 20px 20px;
      background: var(--color-white);
      border: 1px solid #efeeee;
      border-radius: 0 0 4px 4px;
    }

    &_right &__content {
      left: auto;
    }
  }

  @media (max-width: 768px) {
    &__text {
      margin-top: 7px;
      font-size: 14px;
    }

    &__btn {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    .ul-clear {
      margin-top: 7px;
    }
  }
}
