.blog-item {
  display: flex;
  box-sizing: border-box;
  padding: 30px 64px 30px 30px;
  background: var(--color-white);
  border: 1px solid #e8e7e7;
  border-radius: 4px;

  &__image {
    flex-basis: 504px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    //
  }

  &__title {
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
  }

  &__more {
    margin-top: 15px;
    padding: 0;
    color: var(--color-green);
    font-weight: 400;
    font-size: 16px;
  }

  @media (max-width: 1024px) {

    &__image {
      flex-basis: 350px;
    }


    &__title {
      font-size: 16px;
    }

    &__text {
      margin-top: 8px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    display: grid;
    padding: 16px;

    &__content {
      display: contents;
    }

    &__image {
      margin: 0;
    }

    &__title {
      order: -1;
    }
  }
}
