.blog-post {
  display: flow-root;

  &__image {
    float: left;
    max-width: 504px;
    margin-right: 20px;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    &__image {
      float: none;
    }
  }
}
