.breadcrumbs {
  &__inner {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--color-grey-blue);
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
  }

  &__item {
    &:not(:last-child)::after {
      margin: 0 6px;
      content: '/';
    }

    &:last-child {
      color: #9fa5ab;
    }
  }

  &.wrapper {
    .breadcrumbs__inner {
      margin: 0;
      padding: 16px 0;
    }
  }
}
