.calculator {
  margin-top: 50px;
  margin-bottom: 80px;

  &__subtitle {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 40px 64px 40px 40px;
    background: var(--color-white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  &__items {
    display: grid;
    flex-grow: 1;
    grid-gap: 50px;
    margin-right: 20px;
  }

  &__result {
    flex-basis: 416px;
    flex-shrink: 0;
  }

  &__item-title {
    font-weight: bold;
    font-size: 14px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;

    &_address {
      flex-direction: column;
    }
  }

  &__input {
    display: flex;
    align-items: flex-start;
    margin-right: 24px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 14px 16px 14px 20px;
    background: var(--color-white);
    border: 1px solid #efeeee;
    border-radius: 4px;
  }

  &__total-text {
    font-weight: 600;
    font-size: 20px;
  }

  &__total-prices {
    display: flex;
    align-items: center;
  }

  &__price {
    &_new {
      color: var(--color-red);
      font-weight: bold;
      font-size: 20px;
    }

    &_old {
      margin-left: 8px;
      color: var(--color-grey);
      font-size: 16px;
      text-decoration-line: line-through;
    }
  }

  &__form {
    display: grid;
    grid-gap: 10px;
    margin-top: 13px;
  }

  &__agree {
    display: flex;
    align-items: center;
    margin: 25px 0;
    color: var(--color-grey-blue);
    font-size: 12px;

    a {
      color: var(--color-black);
      text-decoration: underline;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 24px;
  }

  @media (max-width: 1024px) {
    &__result {
      min-width: 290px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 60px;

    &__subtitle-item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__inner {
      flex-direction: column;
      margin-top: 20px;
      padding: 0;
      box-shadow: none;
    }

    &__items {
      grid-gap: 34px;
    }

    &__result {
      width: auto;
      margin-top: 28px;
    }

    &__agree {
      margin: 22px 0;
    }
  }
}
