.calendar {
  --fc-button-bg-color: var(--color-grey-blue);
  --fc-event-bg-color: var(--color-green);
  --fc-event-border-color: var(--color-green);

  &__title {
    position: relative;
    text-align: center;

    .carousel-arrow {
      top: 0;
      display: none;

      &_prev {
        left: 0;
      }

      &_next {
        right: 0;
      }
    }
  }

  &__prev {
    left: -80px;
  }

  &__next {
    right: -80px;

    svg {
      transform: rotate(180deg);
    }
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    height: auto;
    margin-top: 20px;
    background: var(--color-white);
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  }

  &__full {
    padding: 30px 40px 40px;

    &_second {
      border-right: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
    }
  }

  .fc-header-toolbar {
    box-sizing: border-box;
    margin: 0 11px;
    padding: 14px;
    background-color: var(--color-white);
    border: 1px solid #efefef;
    border-radius: 4px;
  }

  .fc-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
  }

  .fc-day {
    border-radius: 4px;
  }

  .fc-col-header {
    text-transform: uppercase;
  }

  .fc-col-header th {
    padding: 9px 0;
    background-color: #efeff0;
    border: none;
  }

  .fc-scrollgrid-section > td {
    border: none;
  }

  .fc table {
    line-height: 1;
    border: none;
    border-collapse: separate;
    border-spacing: 5px 5px;
  }

  .fc-daygrid-day-frame::before,
  .fc-daygrid-day-events::before,
  .fc-daygrid-event-harness::before,
  .fc-daygrid-day-frame::after,
  .fc-daygrid-day-events::after,
  .fc-daygrid-event-harness::after,
  .fc .fc-daygrid-day-bottom::before {
    border-spacing: 0;
  }

  .fc .fc-toolbar-title {
    font-weight: 600;
    font-size: 18px;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 13px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 11px;
  }

  .fc-daygrid-block-event .fc-event-title,
  .fc .fc-daygrid-day-bottom,
  .fc .fc-daygrid-day-number {
    padding: 0;
  }

  .fc .fc-daygrid-day-number {
    padding-top: 6px;
    padding-right: 6px;
    font-size: 13px;
  }

  .fc-daygrid-event-dot, .fc-event-time {
    display: none;
  }

  .fc-daygrid-event:hover {
    background: none;
  }

  @media (max-width: 1420px) {
    &__title {
      .carousel-arrow {
        display: flex;
      }
    }

    &__prev {
      left: 0;
    }

    &__next {
      right: 0;
    }
  }

  @media (max-width: 1024px) {
    &__title {
      .carousel-arrow {
        display: none;
      }
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__full {
      &_first,
      &_third {
        display: none !important;
      }
    }
  }

  @media (max-width: 425px) {
    &__full {
      padding: 15px 10px 10px;
    }

    .fc table {
      border-spacing: 3px 3px;
    }
  }
}
