.camps-desc-item {
  display: flex;
  grid-column: 2/3;

  &_img {
    grid-row: 1/8;
    grid-column: 1/2;

    img {
      align-self: flex-start;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &_right {
    grid-column: 1/2;

    &.camps-desc-item_img {
      grid-column: 2/3;
    }
  }

  &__line {
    width: 20px;
    height: 1px;
    margin-top: 11px;
    margin-right: 13px;
    background: var(--color-green);
  }

  &__text-title {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.37;
  }

  @media (max-width: 768px) {
    &_img {
      grid-row: 3/8;
      grid-column: 2/3;
    }

    &_right {
      grid-column: 2/3;
    }
  }
}
