.camps {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  &__btn-wrapper {
    margin-top: 30px;
    text-align: center;
  }

  &__btn {
    width: 300px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      width: 100%;
    }
  }
}
