.carousel {
  --gradient-color: var(--background-color, 255, 255, 255);

  position: relative;

  &_shadow {
    .carousel__container {
      padding: 30px;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        box-sizing: border-box;
        width: 30px;
        height: 100%;
        background: linear-gradient(
          to left,
          rgba(var(--gradient-color), 0.3),
          rgba(var(--gradient-color), 1)
        );
        content: '';
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        box-sizing: border-box;
        width: 30px;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(var(--gradient-color), 0.3),
          rgba(var(--gradient-color), 1)
        );
        content: '';
      }
    }
  }

  .swiper-slide {
    height: auto;
  }

  &__pagination {
    display: none;

    &.swiper-pagination-bullets {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      background: #e73625;
    }
  }

  @media (max-width: 1440px) {
    &__container {
      padding-bottom: 30px;
    }

    &__pagination {
      display: block;
    }
  }
}
