.carousel-arrow {
  position: absolute;
  top: 40%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  color: var(--color-grey-blue);
  background: var(--color-grey-light);
  border-radius: 50%;

  &:hover {
    color: var(--color-white);
    background: var(--color-green);
  }

  &_prev {
    left: -80px;
  }

  &_next {
    right: -80px;

    svg {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 1420px) {
    display: none;
  }
}
