.classes {
  &__slider-container {
    position: relative;
    margin-top: 30px;
  }

  &__slider {
    .swiper-scrollbar {
      bottom: 0;
    }
  }

  &__prev {
    left: -80px;
  }

  &__next {
    right: -80px;

    svg {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 768px) {
    &__container {
      background: var(--color-white);
    }

    &__slider {
      margin-top: 18px;
    }

    &__title {
      text-align: center;
    }

    &__wrapper {
      display: flex;
      grid-gap: 0;
    }
  }
}
