.coach-main-card {
  &_pink {
    --color-card: var(--color-pink);
  }

  &_blue {
    --color-card: var(--color-blue-soft);
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
  }

  &__kpi {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    border-bottom: 6px solid var(--color-card);
  }

  &__image-wrapper {
    display: flex;
    width: 100%;
    max-width: 768px;
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 55.57%,
        rgba(0, 0, 0, 0.18) 100%
      );
      content: '';
      pointer-events: none;
    }
  }

  &_left {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr;

    .coach-main-card__kpi {
      grid-gap: 19px;
      grid-row: 1;
      grid-column: 1/2;
      grid-template-columns: 1fr;
      margin-top: 0;
    }

    .coach-main-card__image {
      grid-column: 2/3;
    }
  }

  &_right {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 4fr 1fr;

    .coach-main-card__kpi {
      grid-gap: 19px;
      grid-template-columns: 1fr;
      margin-top: 0;
    }
  }

  &__container {
    position: absolute;
    bottom: 24px;
    width: 100%;
    max-width: 768px;
    color: var(--color-white);
  }

  &__info {
    display: flex;
    margin-top: 12px;
  }

  &__shortcuts {
    display: flex;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--color-white);
    background-color: var(--color-card);
    border-radius: 50%;
  }

  &__shortcuts-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: -18px;
    padding: 0;
    border-radius: 50%;
  }

  &__info-text {
    margin-left: 18px;
    font-size: 15px;
  }

  &__certificate {
    position: absolute;
    top: 0;
    left: 16px;
  }

  @media (max-width: 768px) {
    &__container {
      bottom: 12px;
    }

    &_short &__info-text,
    &_short &__shortcuts-btn,
    &__kpi {
      display: none;
    }

    &_short &__label {
      width: 40px;
      height: 40px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
