.coaching-staff {
  text-align: center;

  &__properties {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }

  &__slider {
    margin-top: 30px;
  }

  &__btn {
    width: 376px;
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    &__properties {
      grid-gap: 9px;
      margin-top: 20px;
    }

    &__slider,
    &__subtitle,
    &__btn {
      display: none;
    }
  }
}
