.fancy-modal {
  &__subtitle {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
  }

  &__form {
    display: grid;
    grid-gap: 12px;
    margin-top: 20px;

    &.error .form-text input {
      background-color: rgba(214, 0, 0, 0.06);
    }
  }

  &__link {
    border-bottom: 1px dotted;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
  }

  &__alert {
    max-width: 404px;
    padding: 6px 16px;
    color: rgb(97, 26, 21);
    background-color: rgb(253, 236, 234);
    border-radius: 4px;
  }

  @media (max-width: 599px) {
    width: 100vw;
  }
}
