.fancy-cities {
  width: 46vw;
  max-width: 800px;
  height: auto;
  background-color: var(--color-white);

  &__inner {
    display: grid;
    grid-gap: 12px;
    margin-top: 28px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 14px 17px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(0deg, #f1f3f5, #f1f3f5), #fff;
    border-radius: 4px;

    svg {
      margin-right: 17px;
    }
  }

  @media (max-width: 599px) {
    width: 100vw;
  }
}
