.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.find-us {
  &__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 3fr;
    min-height: 300px;
    margin-top: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__search {
    margin-bottom: 20px;
  }

  &__search-input {
    font-size: 16px;

    &.error {
      border-bottom: 3px solid var(--color-red);
    }

    &:focus {
      outline-color: var(--focus);
    }
  }

  &__button {
    width: 100%;
    margin-top: 8px;
  }

  &__right {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 340px;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--color-grey-light);
  }

  @media (max-width: 1280px) {
    &__inner {
      grid-gap: 12px;
      grid-template-columns: 1fr;
    }

    &__right {
      grid-row: 1;
    }

    &_trainer-gymnastic &__right,
    &_trainer-gymnastic &__search {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);

    &_without-shadow {
      padding: 0;
      box-shadow: none;
    }

    &__title {
      text-align: center;
    }

    &__inner {
      margin-top: 20px;
    }

    &__search {
      margin-bottom: 30px;
    }

    &__button {
      padding: 13px;
    }
  }
}
