.kpi-item {
  --bg-card: var(--color-grey-blue-light);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  background: var(--bg-card);
  border: 1px solid #e8e7e7;
  border-radius: 4px;

  &_color {
    &_red {
      color: var(--color-red);
      border-bottom: 3px solid var(--color-red);
    }

    &_green {
      color: var(--color-green);
      border-bottom: 3px solid var(--color-green);
    }

    &_purple {
      color: var(--color-purple);
      border-bottom: 3px solid var(--color-purple);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 86px;
    height: 86px;
    margin-right: 29px;
    background: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  }

  &__amount {
    color: var(--color-black);
    font-weight: 600;
    font-size: 43px;
    line-height: 1.37;
  }

  &__title,
  &__title-mobile {
    color: var(--color-grey-blue);
  }

  &__title-mobile {
    display: none;
  }

  &_size {
    &_small {
      --bg-card: var(--color-white);

      flex-direction: column;
      align-items: center;
      padding: 17px 10px;

      .kpi-item {
        &__icon {
          max-width: none;
          height: auto;
          margin-right: 0;
          background: transparent;
          box-shadow: none;
        }

        &__amount {
          margin-top: 8px;
          font-size: 26px;
          text-align: center;
        }

        &__title {
          display: none;
        }

        &__title-mobile {
          display: block;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    padding: 17px 10px;

    &__icon {
      margin-right: 0;
    }

    &__content {
      text-align: center;
    }

    &__amount {
      margin-top: 8px;
      font-size: 26px;
    }

    &__title {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    &__icon {
      max-width: none;
      height: auto;
      background: transparent;
      box-shadow: none;
    }

    &_grey-white {
      --bg-card: var(--color-white);
    }

    &__title {
      display: none;
    }

    &__title-mobile {
      display: block;
    }
  }

  @media (max-width: 375px) {
    &__icon {
      width: 65px;
      min-width: auto;
      height: 65px;
    }
  }
}
