.kpi {
  &__container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  &.desktop-hide {
    display: none;
  }

  @media (max-width: 1024px) {
    &__container {
      grid-gap: 16px;
    }
  }

  @media (max-width: 768px) {
    &.desktop-hide {
      display: grid;
    }
  }
}
