.loader {
  position: relative;
  display: none;
  width: 10em;
  height: 10em;
  overflow: hidden;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(46, 184, 0, 0.2);
  border-right: 1.1em solid rgba(46, 184, 0, 0.2);
  border-bottom: 1.1em solid rgba(46, 184, 0, 0.2);
  border-left: 1.1em solid var(--color-green);
  border-radius: 50%;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;

  &_small{
    width: 6em;
    height: 6em;
    margin-right: 5px;
    font-size: 3px;
  }

  &.active {
    display: block;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
