.mmenu {
  width: 100%;
  margin: 46px 0 32px;
  text-align: center;

  &__image {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__tel {
    margin-top: 26px;
    font-weight: 600;
    font-size: 20px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-grey-blue);
  }

  &__socials-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: rgba(89, 98, 107, 0.12);
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.mm-menu {
  width: 80vw;

  --mm-navbar-size: auto;
  --mm-color-text-dimmed: var(--color-black);

  .mm-navbar__title {
    padding: 12px 0;
  }
}
