.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  &__pages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    padding: 0;
    color: #505d64;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 50%;

    &_type {
      &_page {
        background-color: var(--color-white);
      }

      &_dots {
        background-color: var(--color-white);
      }

      &_prev {
        margin-right: 10px;
        color: white;
        background-color: var(--color-green);
      }

      &_next {
        margin-left: 10px;
        color: white;
        background-color: var(--color-green);
        transform: rotate(180deg);
      }
    }

    &_current {
      color: #505d64;
      background-color: #ebebeb;
    }
  }

  @media screen and (max-width: 767px) {
    &__item {
      &_type {
        &_page {
          display: none;
        }
      }
    }
  }
}
