.my-placemark {
  width: 60px;
  height: 60px;
  margin-top: -55px;
  margin-left: -30px;
  color: #E73625;
  transform: scale(.8);
  transition: .2s ease-out;

  &.active {
    position: relative;
    z-index: 1;
    color: var(--color-green);
    transform: scale(1) translateY(-5px);
  }
}
