.properties-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  background: var(--color-white);
  border: 1px solid #efeeee;
  border-bottom: 3px solid var(--color-red);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);

  &__line {
    width: 1px;
    height: 52px;
    margin: 0 30px;
    background-color: #e7e7e7;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border-radius: 50%;

    &_purple {
      background: var(--color-purple);
    }

    &_green {
      background: var(--color-green);
    }
  }

  &__title {
    font-size: 20px;
  }

  @media (max-width: 1024px) {
    &__line {
      margin: 0 15px;
    }

    &__title {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 25px 10px 16px;

    &__line {
      width: 70px;
      height: 1px;
      margin-top: 24px;
    }

    &__title {
      margin-top: 10px;
      text-align: center;
    }

    &__icon {
      width: 46px;
      height: 46px;
    }
  }

  @media (max-width: 425px) {
    padding: 10px;

    &__line {
      width: 50px;
    }
  }

  @media (max-width: 375px) {
    &__title {
      overflow: hidden;
      word-break: break-word;
    }

    &__line {
      width: 35px;
    }

    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}
