.properties {
  &__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 9px;
    }
  }
}
