.resume {
  margin-top: 60px;

  &__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.36;
  }

  &__inner {
    display: grid;
    grid-row-gap: 34px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__title {
    font-weight: 800;
  }

  &__btn {
    margin-top: 40px;

    .btn {
      padding-right: 107px;
      padding-left: 107px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 40px;

    &__name,
    &__btn {
      display: none;
    }

    &__inner {
      grid-gap: 25px;
      grid-template-columns: 1fr;
    }
  }
}
