.reviews-block {
  padding-top: 40px;
  padding-bottom: 80px;

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
  }

  &__buttons {
    display: flex;
    min-height: 56px;
    margin-left: 10px;
  }

  &__buttons-item {
    margin: 0;
    padding: 9px 20px;
    color: var(--color-grey-blue);
    line-height: 1.6;
    border-radius: 4px;

    &.active {
      color: var(--color-white);
      background: #2eb800;
    }
  }

  &__inner {
    display: grid;
    grid-gap: 30px;
    margin-top: 30px;
  }

  &__item-btn-play,
  &__video-play {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 0;
    background-color: var(--color-green);
    border-radius: 50%;
  }

  &__item {
    display: none;
    box-sizing: border-box;
    padding: 30px 64px 30px 30px;
    background: var(--color-white);
    border: 1px solid #e8e7e7;
    border-radius: 4px;

    &.active {
      display: flex;
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 500px;
    margin-right: 50px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__mobile-video {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: 74px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__video-play {
    top: auto;
    width: 50px;
    height: 50px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__top {
    display: flex;
  }

  &__avatar {
    width: 64px;
    height: 64px;
    margin-right: 24px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.37;
  }

  &__activity {
    color: var(--color-grey);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
  }

  &__text {
    height: 150px;
    margin-top: 24px;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;

    &.active {
      height: auto;
    }
  }

  &__item-btn {
    margin-top: 15px;
    padding: 0;
    color: var(--color-green);
    font-weight: 400;
    font-size: 16px;
  }

  &__btn {
    margin-top: 50px;
    text-align: center;

    .btn {
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  @media (max-width: 1024px) {
    &__img {
      min-width: 350px;
    }

    &__item-btn-play {
      top: 55px;
    }

    &__avatar {
      width: 50px;
      height: 50px;
    }

    &__name {
      font-size: 16px;
    }

    &__text {
      margin-top: 8px;
      font-size: 14px;
    }

    &__activity {
      font-size: 13px;
    }

    &__item-btn {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 12px;
    }

    &__buttons {
      display: none;
    }

    &__img {
      display: none;
    }

    &__mobile-video {
      display: flex;
    }

    &__item {
      display: flex;
      padding: 16px;
    }

    &__item-btn {
      margin-left: 74px;
    }

    &__text {
      height: 44px;
      margin-left: 74px;
    }

    &__btn {
      margin-top: 20px;

      .btn {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
