.reviews {
  &__container {
    position: relative;
    display: grid;
    grid-template-areas:
      'title reviews'
      'slider slider'
      'like like';
  }

  &__title {
    grid-area: title;
  }

  &__all {
    grid-area: reviews;
    justify-self: flex-end;
  }

  &__slider-container {
    grid-area: slider;
    width: 100%;
    min-width: 0; // Нужно для того, чтобы свайпер не ломался из-за грида
    margin-top: 37px;
  }

  &__like-wrapper {
    grid-area: like;
    margin-top: 40px;
    text-align: center;
  }

  &__like {
    width: 388px;
  }

  &__slider-item {
    display: flex;
    box-sizing: border-box;
    padding: 24px 64px 20px 24px;
    background: var(--color-white);
    border: 1px solid #ebebeb;
    border-radius: 4px;
  }

  &__avatar {
    margin-right: 20px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.35;
  }

  &__activity {
    margin-bottom: 10px;
    color: var(--color-grey);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
  }

  &__video {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__video-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;

    img {
      width: 100%;
      height: 100%;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(44, 44, 44, 0.4);
      content: '';
    }
  }

  &__video-btn {
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 50%;
  }

  &__text,
  &__more {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
  }

  &__text {
    max-height: 44px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      max-height: none;
    }
  }

  &__more {
    display: none;
    padding: 0;
    color: var(--color-green);

    &:hover {
      color: #339613;
    }

    &.active {
      display: block;
    }
  }

  &__slider-arrow {
    position: absolute;
    top: 38%;
    z-index: 100;
    display: flex;
    grid-area: slider;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: var(--color-grey-blue);
    background: var(--color-grey-light);
    border-radius: 50%;

    &:hover {
      color: var(--color-white);
      background: var(--color-green);
    }

    &_prev {
      left: -92px;
    }

    &_next {
      right: -92px;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 1440px) {
    &__slider-arrow {
      display: none;
    }
  }

  @media (max-width: 768px) {

    &__container {
      position: relative;
      display: grid;
      grid-template-areas:
      'title reviews'
      'slider slider'
      'all all'
      'like like';
    }

    &__all {
      grid-area: all;
      justify-self: flex-start;
      margin-top: 20px;

      .btn {
        color: var(--color-white);
        background: var(--color-green);
      }
    }

    &__all-btn {
      color: var(--color-white);
      background-color: rgba(46, 184, 0, 1);
    }

    &__slider-container {
      margin-top: 20px;
    }

    &__slider-wrapper {
      display: block;
    }

    &__slider-item {
      height: auto;
      padding: 16px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &__avatar {
      img {
        width: 50px;
        height: 50px;
      }
    }

    &__name {
      font-size: 16px;
    }

    &__activity {
      font-size: 13px;
    }

    &__like {
      display: none;
    }
  }
}
