.sales-blocks {
  display: grid;
  grid-row-gap: 60px;
  grid-template-columns: 1fr;
  margin-top: 60px;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    grid-row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
