.school {
  &__container {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    grid-template-areas:
      'title title'
      'content map'
      'btn map';
    grid-template-columns: 2fr 3fr;
  }

  &__title {
    grid-area: title;
  }

  &__map {
    display: flex;
    grid-area: map;
    height: 100%;
    min-height: 400px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__buttons {
    display: grid;
    grid-area: btn;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-end;
    min-height: 44px;
  }

  &__inner {
    display: grid;
    grid-area: content;
    grid-row-gap: 20px;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
  }

  &__item {
    &_how {
      grid-column: 1/3;
    }
  }

  @media (max-width: 768px) {
    &__container {
      grid-template-areas:
        'map'
        'btn'
        'title'
        'content';
      grid-template-columns: none;
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__item {
      &_how {
        grid-column: 1/1;
      }
    }
  }

  @media (max-width: 375px) {
    &__buttons {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
}
