.school-card {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 45px 1fr 130px;
  box-sizing: border-box;
  padding: 20px 20px 16px 20px;
  background-color: var(--color-white);
  border: 1px solid #e8e7e7;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 40px rgba(72, 77, 86, 0.16);
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-red);
    border-radius: 50px;

    &_metro {
      background-color: #eee;
    }
  }

  &__name {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.33;
  }

  &__street {
    display: block;
    margin-top: 4px;
    color: var(--color-grey);
    font-weight: normal;
    font-size: 14px;
  }

  &__contacts {
    text-align: right;
  }

  &__tel {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    word-wrap: normal;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--color-grey-blue-light);
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &_whatsapp {
      color: #2cc54e;
    }

    &_telegram {
      color: #039be5;
    }
  }

  @media (max-width: 425px) {
    grid-row-gap: 6px;
    grid-template-columns: 45px 1fr;
    max-height: none;

    &__contacts {
      display: flex;
      grid-column-start: 2;
      align-items: center;
    }

    &__tel {
      margin: 0;
      font-size: 12px;
    }

    &__socials {
      margin-top: 0;
      margin-left: 11px;
    }
  }
}
