.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-top: 20px;

  &__input {
    position: relative;
    top: 3px;
    display: none;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c5e6bb;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.2s;

    &::before {
      position: absolute;
      bottom: 3px;
      left: 5px;
      width: 18px;
      height: 18px;
      background-color: var(--color-green);
      border-radius: 50%;
      transition: 0.2s;
      content: '';
    }
  }

  &__left,
  &__right {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.5;
  }

  &__left {
    left: -60px;
  }

  &__right {
    right: -70px;
  }

  &__input:checked + &__slider::before {
    transform: translateX(16px);
  }

  &__input:checked ~ &__right {
    opacity: 1;
  }

  &__input:not(:checked) ~ &__left {
    opacity: 1;
  }
}
