.tab {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-grey-blue);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;

  &:not(:last-child)::after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 30px;
    background-color: #d3d3d3;
    content: '';
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 9px 18px;
    color: inherit;
    background-color: inherit;

    &.active {
      z-index: 10;
      color: var(--color-white);
      background-color: var(--color-green);
      border-radius: 4px;
    }
  }
}
