.talisman {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    height: 405px;
    margin-top: 30px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__slider {
    position: relative;
    margin-top: 60px;
  }

  &__item {
    display: flex;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &__show-more {
    display: none;
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      grid-template-columns: none;
      height: 238px;
      margin-top: 20px;
    }

    &__img {
      display: none;
    }

    &__show-more {
      display: block;
    }

    &__slider-wrapper {
      display: grid;
      grid-gap: 7px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
