.teaching-groups-item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  background: var(--color-white);
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.18);
  }

  &__details,
  &__hide {
    padding: 0;
  }

  &__details {
    display: none;
    margin-top: 16px;
    color: var(--color-green);
  }

  &.active {
    .teaching-groups-item__details {
      display: none;
    }
  }

  &_overflow {
    overflow: hidden;
  }

  &__label {
    position: absolute;
    top: -14px;
    left: 24px;
    padding: 4px 14px 2px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    background: var(--color-red);
    border-radius: 0 0 2px 2px;

    &::after,
    &::before {
      position: absolute;
      top: 0;
      border: 7px solid transparent;
      border-bottom: 7px solid #cc3021;
      content: '';
    }

    &::after {
      left: -14px;
      border-right: 7px solid #cc3021;
    }

    &::before {
      right: -14px;
      border-left: 7px solid #cc3021;
    }
  }

  &__top {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    padding: 24px 24px 18px;
    border-bottom: 1px solid #efefef;
  }

  &__column {
    &:nth-child(1) {
      grid-column: 1/6;
    }
  }

  &__name,
  &__price {
    z-index: 10;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.39;
  }

  &__name {
    padding-right: 10px;
  }

  &__time {
    position: relative;
    z-index: 10;
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
  }

  &__price {
    white-space: nowrap;
    text-align: right;

    &_color {
      &_pink,
      &_blue {
        position: relative;
        display: flex;
        flex-direction: column;
        color: var(--color-white);

        &::before {
          position: absolute;
          top: -110px;
          right: -70px;
          bottom: -40px;
          left: -30px;
          z-index: -1;
          padding-top: 100%;
          border-radius: 50%;
          content: '';
        }

        & + .teaching-groups-item__time {
          color: var(--color-white);
        }
      }

      &_pink {
        &::before {
          background-color: var(--color-pink);
        }
      }

      &_blue {
        &::before {
          background-color: var(--color-blue-soft);
        }
      }
    }
  }

  &__description {
    margin-top: 8px;
    color: var(--color-grey-blue);
    font-size: 14px;
    line-height: 1.6;
  }

  &__bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 18px 24px 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__spacer {
    flex: 1;
  }

  &__row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.36;
  }

  &__row-key {
    font-weight: 600;
  }

  &__row-value {
    color: var(--color-grey-blue);
    text-align: right;
  }

  &__sign-up {
    width: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__btn {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 23px;
  }

  &__hide {
    display: none;
    color: var(--color-green);
  }

  &.active > &__bottom {
    display: block;
  }

  @media (max-width: 768px) {
    padding: 16px;
    box-shadow: none;

    &__label {
      display: none;
    }

    &__top {
      padding: 0 0 14px;
      border-bottom: none;
    }

    &__bottom {
      display: none;
      padding: 14px 0 0;
      border-top: 1px solid #ededed;
    }

    &__details {
      display: block;
    }

    &__hide {
      display: block;
    }

    &__sign-up {
      width: auto;
      padding-right: 30px;
      padding-left: 30px;
      color: var(--color-white);
      background-color: var(--color-red);
    }

    &__price {
      color: inherit;

      &_color {
        &_pink,
        &_blue {
          &::before {
            content: none;
          }

          & + .teaching-groups-item__time {
            color: inherit;
          }
        }
      }
    }
  }
}
