.trainer-offices {
  &__inner {
    display: grid;
    grid-gap: 19px;
    grid-template-columns: 500px 1fr;
    margin-top: 30px;
  }

  &__img {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;

    .btn {
      padding-right: 107px;
      padding-left: 107px;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-template-columns: none;
      margin-top: 20px;
    }

    &__img {
      display: none;
    }

    &__btn {
      margin-top: 24px;

      .btn {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
