.types-groups {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 480px 1fr;
  }

  &__image {
    display: flex;
    margin-top: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__items {
    display: grid;
    grid-gap: 12px;
    margin-top: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 22px 20px 20px 66px;
    text-align: center;
    background: linear-gradient(89.1deg, #fff 0.46%, #f8f8f8 99.09%);
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

    &_green {
      --main-color: #8fba60;
    }

    &_blue-dark {
      --main-color: #315f7f;
    }

    &_blue {
      --main-color: #3d96d2;
    }

    &_orange {
      --main-color: #f49b01;
    }

    &_red {
      --main-color: #f56857;
    }
  }

  &__number {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 14px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  &__name {
    min-width: 92px;
    margin-right: 20px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.27;
    text-align: center;
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
  }

  &__desc-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__motivation {
    margin-top: 60px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
  }

  &__btn {
    margin-top: 30px;
    text-align: center;

    .btn {
      padding-right: 130px;
      padding-left: 130px;
    }
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 20px;
      grid-template-columns: none;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__image {
      justify-content: center;

      img {
        max-width: 343px;
      }
    }

    &__item {
      flex-direction: column;
      padding: 20px 16px;
    }

    &__name {
      margin-right: 0;
      margin-bottom: 4px;
      font-size: 34px;
    }

    &__desc {
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      text-align: center;
    }

    &__motivation {
      margin-top: 20px;
      font-size: 16px;
    }

    &__btn {
      margin-top: 20px;

      .btn {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  @media (max-width: 425px) {
    &__image {
      img {
        max-width: none;
      }
    }
  }
}
